@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  padding: 1.2rem;
}

.header {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addButton[type="button"] {
  width: 100%;
  max-width: 500px;
  height: 48px;
  font-size: 1.5rem;
  font-family: "Spectral", serif;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  transition:
    box-shadow,
    background-color 0.2s ease;
  cursor: pointer;
}

#addButton[type="button"]:active,
#addButton[type="button"]:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  background-color: #bbb;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

.board {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.list {
  background-color: #e9eef5;
  padding: 1rem;
  border-radius: 8px;
  width: 30%;
  min-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
}

.list h2 {
  color: #555;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card {
  background-color: white;
  color: #333;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.list.over {
  background-color: #d1d3d8;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f8f9fc;
  display: flex;
  align-content: center;
  flex-direction: column;
  height: fit-content;
  min-height: 280px;
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  width: 80%;
  max-width: 650px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #c3cfe2;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 20px;
}

.modal-header h2 {
  font-size: 1.8rem;
}

.close {
  color: #666;
  font-size: 50px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  text-align: center;
  float: right;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal input {
  height: 60%;
  outline: none;
  border: #2d2d2d 2px solid;
  border-radius: 12px;
  padding: 8px;
  color: #000;
  font-size: 16px;
}

.modal-input {
  display: flex;
  flex-direction: column;
}

#submitButton {
  padding: 12px;
  background-color: #c3cfe2;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  margin-top: 24px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

#submitButton:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
  .board {
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
  }

  .list {
    width: 80%;
    margin-bottom: 20px;
  }
}
